<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="address" class="com.example.bean_creation.Address">
        <property name="street" value="Temp Street"/>
        <property name="city" value="Delhi"/>
    </bean>
    <bean id="employee" class="com.example.bean_creation.Employee" autowire="byName"/>
</beans>